.cart-container{
	padding-left: 20px;
}

.Cart-Items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 70%;
	 height: 85%;
	 background-color: #ffffff;
	 border-radius: 20px;
	 box-shadow: 0px 25px 40px rgb(119, 118, 123);
	 margin-bottom:30px;
}

.Cart-Items > * {
    flex: 1;
    margin: 10px;
}

.image-box {
    max-width: 160px; 
}

.image-box img {
    max-width: 100%;
    height: 140px;
}

.title {
    font-size: 20px; /* Adjust as needed */
    font-weight: bold;
}


.counter, .amount {
	font-size:20px;
    margin-top: 10px; /* Adjust as needed */
}

.delete-button {
    background-color: #f44336;
    color: white; 
    border: none; 
    padding: 8px 16px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    border-radius: 4px;
    cursor: pointer;
}

.delete-button:hover {
    background-color: #d32f2f; /* Darker red background color on hover */
}



.bill{
	padding-top:30px;
	font-size:25px;
	font-weight:900;
}


.checkout-form {
    text-align: center;
}

.checkout-form h2 {
    font-size: 24px; 
}

.checkout-form form {
    display: inline-block;
    text-align: left;
    max-width: 400px;
    margin: 0 auto;
    border: 1px solid #ccc; 
    padding: 20px; 
    border-radius: 5px; 
    background-color: #383838;
}

.checkout-form label {
	color:white;
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.checkout-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.checkout-button {
    padding: 10px 20px;
    background-color: #0074d9; 
    color: #fff;
    border: none;
    cursor: pointer;
}

.checkout-button:hover {
    background-color: #0056b3; 
}

